<script src="http://www.zaypay.com/pay/137797.js" type="text/javascript"></script>
<h1>
Click here to pay!

<a href="http://www.zaypay.com/pay/137797" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137797/img" border="0" /></a>

</h1>