<script src="http://www.zaypay.com/pay/137797.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137863.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137865.js" type="text/javascript"></script>

<h1> Click here to pay! </h1>

<h2> Pay 1 Euro </h2>
<p>
	<a href="http://www.zaypay.com/pay/137797" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137797/img" border="0" /></a>
</p>

<h2> Pay CHF 2.5 </h2>
<p>
	<a href="http://www.zaypay.com/pay/137863" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137863/img" border="0" /></a>
</p>

<h2> Pay SFr 4.25</h2>
<p>
	<a href="http://www.zaypay.com/pay/137865" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137865/img" border="0" /></a>
</p>
