<!-- switzerland -->
<script src="http://www.zaypay.com/pay/137887.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137889.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137891.js" type="text/javascript"></script>
<!-- netherlands -->
<script src="http://www.zaypay.com/pay/137893.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137895.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137897.js" type="text/javascript"></script>
<!-- generic -->
<script src="http://www.zaypay.com/pay/137899.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137901.js" type="text/javascript"></script>
<script src="http://www.zaypay.com/pay/137903.js" type="text/javascript"></script>


<h1 class="zaypay-header"> Payment Solutions - Zaypay</h1>
<div class="container">
	<h3> Please choose the amount you would like to donate: </h3>

	<div class="country-price-points">
		<h3 align="center" class="country"> Switzerland </h3>
		<h4> SFr. 1,48 
			<a href="http://www.zaypay.com/pay/137889" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137889/img" border="0" /></a>
		</h4>

		<h4> SFr. 2,50 
			<a href="http://www.zaypay.com/pay/137887" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137887/img" border="0" /></a>
		</h4>

		<h4> SFr. 4,25
			<a href="http://www.zaypay.com/pay/137891" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137891/img" border="0" /></a>
		</h4>
	</div>

	<div class = "country-price-points">
		<h3 align="center" class="country"> Netherlands </h3>
		<h4> € 0,55
			<a href="http://www.zaypay.com/pay/137893" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137893/img" border="0" /></a>
		</h4>

		<h4> € 1,45 
			<a href="http://www.zaypay.com/pay/137895" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137895/img" border="0" /></a>
		</h4>

		<h4> € 1,48
			<a href="http://www.zaypay.com/pay/137897" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137897/img" border="0" /></a>
		</h4>
	</div>

	<div class = "country-price-points">
		<h4> € 1,48
			<a href="http://www.zaypay.com/pay/137903" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137903/img" border="0" /></a>

		</h4>
		<h3 align="center" class="country"> Generic </h3>
		<h4> € 1,50
			<a href="http://www.zaypay.com/pay/137899" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137899/img" border="0" /></a>
		</h4>

		<h4> € 2,00 
			<a href="http://www.zaypay.com/pay/137901" onclick="javascript:return(ZPayment(this));"><img src="http://www.zaypay.com/pay/137901/img" border="0" /></a>
		</h4>

	</div>
</div>